$accent-grey: #455a64;
$website-green: #d7f3df;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $website-green;
}

.header {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  border: solid red 1px;

  .nav-bar {
    width: 100%;
    border: solid green 1px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 4rem;
      color: $accent-grey;
      font-family: "Indie Flower", cursive;
    }

    nav {
      flex: 1;
      text-align: right;

      .nav-items li {
        list-style: none;
        margin-right: 10%;
        display: inline-block;

        a {
          text-decoration: none;
          color: $accent-grey;
          font-size: 2rem;
          font-family: "Indie Flower", cursive;
          display: inline-block;
          transition: ease-in-out 0.2s;

          &:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    border: solid blue 1px;

    .col-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: solid orange 1px;

      img {
        transition: ease-in-out 0.2s;

        &:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }

    .col-2 {
      width: 100%;
      border: solid yellow 1px;
      position: relative;

      img {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        border: solid olive 1px;
        width: 90%;
        height: auto;
      }
    }
  }
}

// @media only screen and (max-width: 800px) {
//   nav {
//     .nav-items {
//       displ
//     }
//   }
// }
