$dark-blue: #071134;

body {
  height: 100vh;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.bounce {
  animation-name: bounce-in;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounce-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
}
@for $i from 1 through 5 {
  .bounce:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1}s;
  }
}

.top-container {
  position: relative;
  color: $dark-blue;
  text-align: center;

  .welcome-message {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .background {
    display: block;
    position: relative;
  }
}

.content-container {
  background-color: $dark-blue;
  color: lightcyan;
  text-align: center;
}

.footer {
  position: relative;
  padding-top: 5rem;
  bottom: 0;
  width: 100%;
  background-color: $dark-blue;
  color: lightcyan;
  text-align: center;
}

@keyframes bounce-in {
  0% {
    transform: translateY(100%);
  }
  90% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes bounce-in {
  0% {
    transform: translateY(100%);
  }
  90% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
  }
}
